/***************
 * Mate-Panel *
 ***************/

$panel: #3db0f6;
$panel_fg: #ffffff;
$panel_bg: #babcbc;
$panel_border: #959a96;
$panel_hc: transparentize($panel_fg, 0.7);
$panel_bg_button: mix(rgba(0,0,0,0.3), $panel, 80%);
$panel_menubar_hover: #000000;


PanelToplevel > *:not(menu):not(menuitem):not(button):not(menubar) {
	border-style: solid;
	border-color: $panel_border;
    border-width: 1px;
    border-bottom-width: 0px;
    box-shadow: inset 0 30px #babcbc, inset 0 24px #bdbebd,inset 0 18px #b5b6b6,inset 0 15px #a9aaab,inset 0 11px #a4a5a6,inset 0 8px #9b9ea5, inset 0 4px #9d9e9f, inset 0 2px #e2e3e1, inset 0 1px #cacbcb;
}

/* first make all transparent */
.mate-panel-menu-bar,
.mate-panel-menu-bar menubar,
.mate-panel-menu-bar menuitem,
#PanelPlug,
#PanelApplet button,
PanelToplevel.background,
#PanelApplet-window-menu-applet-button {
    background-color: transparent;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    border-color: $panel_border;
}

.mate-panel-menu-bar menubar:not(menu) > menuitem {
	color: $fg_color;
}

.mate-panel-menu-bar menubar:not(menu) > menuitem:hover {
	color: $panel_menubar_hover;
}


/* let's start it */
#PanelPlug,
.mate-panel-menu-bar,
PanelToplevel.background {
    background-color: $panel_bg;
    background-image: none;
    /* normal panel */
    /* transparent panel */
/*    color: @theme_selected_fg_color; */
    text-shadow: none;
        box-shadow: inset 0 30px #babcbc, inset 0 24px #bdbebd,inset 0 18px #b5b6b6,inset 0 15px #a9aaab,inset 0 11px #a4a5a6,inset 0 8px #9b9ea5, inset 0 4px #9d9e9f, inset 0 2px #e2e3e1, inset 0 1px #cacbcb;

}

#PanelApplet {
    border-width: 1px;
  border-style: solid;
}

PanelSeparator {
    border-width: 0;
    background-image: none;
    text-shadow: none;
}

/* all applets */
.mate-panel-menu-bar #PanelApplet button {
    &,
    &.flat,
    &.toggle,
    &.flat.toggle {
    background-image: linear-gradient(to bottom, 
                    #dddfd5, 
                    #c2c6c2 30%, 
                    #b0b5b5);
    
    border-radius: 3px;
    border-width: 1px;
    box-shadow: none;
    //box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$fg_color;
    }

    &:checked,
    &:checked:hover,
    &:hover:active,
    &.flat:checked,
    &.flat:hover:active,
    &.toggle:checked,
    &.toggle:checked:hover,
    &.toggle:hover:active,
    &.flat.toggle:checked,
    &.flat.toggle:checked:hover,
    &.flat.toggle:hover:active {

     background-image: linear-gradient(to bottom, 
                    #596664 , 
                    #7a8481);
    
    border-radius: 3px;
    border-width: 1px;
    box-shadow: none;
    //box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: #404f4c;

    text-shadow: none;
    color:$panel_fg;
    }


    &:hover,
    &.flat:hover,
    &.toggle:hover,
    &.flat.toggle:hover {
     background-image: linear-gradient(to bottom, 
                    #596664 , 
                    #7a8481);
    border-radius: 3px;
    border-width: 1px;
    box-shadow: none;
    //box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;

    } 
}


/* Classic icon style */
.mate-panel-menu-bar {
    -PanelMenuBar-icon-visible: true;
}

na-tray-applet {
    background-image: none;
    background-color: transparent;
    padding: 0;
    text-shadow: none;
    -NaTrayApplet-icon-padding: 3;
    -NaTrayApplet-icon-size: 16;
}

/* clock-applet */
.mate-panel-menu-bar #PanelApplet #clock-applet-button.flat.toggle {
 &,&:hover {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: none;
}

&:checked,
&:checked:hover {
    background-image: linear-gradient(to bottom, 
                    darken($panel_bg_button, 20%) , 
                    darken($panel_bg_button, 30%) 50%, 
                    darken($panel_bg_button, 60%));
    
    border-radius: 0;
    border-width: 1px;
    box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;
}
}

/* volume applet, brightness applet */
.mate-panel-applet-slider {
    background: transparent;
& .frame {
    /*background-color: @theme_bg_color;*/
    border-image: none;
    border-style: solid;
    border-radius:2px;
    padding: 0px;
    margin: 0px;
    }

& .frame .frame{
    background-color:transparent;
    border-style: none;
    }

& .frame .button {
    color: $panel_fg;
   }

}


  .xfce4-panel.background {
    background-color: $panel_bg;
    box-shadow: inset 0 30px #babcbc, inset 0 24px #bdbebd,inset 0 18px #b5b6b6,inset 0 15px #a9aaab,inset 0 11px #a4a5a6,inset 0 8px #9b9ea5, inset 0 4px #9d9e9f, inset 0 2px #e2e3e1, inset 0 1px #cacbcb;
    color: #fff; }

    #sn-button,
    #indicator-button {
    box-shadow: inset 0 30px #babcbc, inset 0 24px #bdbebd,inset 0 18px #b5b6b6,inset 0 15px #a9aaab,inset 0 11px #a4a5a6,inset 0 8px #9b9ea5, inset 0 4px #9d9e9f, inset 0 2px #e2e3e1, inset 0 1px #cacbcb;
    }

   .xfce4-panel label {}

    .xfce4-panel .tasklist .toggle {
    background-image: linear-gradient(to bottom, 
                    #dddfd5, 
                    #c2c6c2 30%, 
                    #b0b5b5);
    
    border-radius: 3px;
    border-width: 1px;
    box-shadow: none;
    //box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: #818587;
    text-shadow: none;
    color:$fg_color; }


    .xfce4-panel .tasklist .toggle:hover,
 {
    background-image: linear-gradient(to bottom, 
                    #596664 , 
                    #7a8481);
    border-radius: 3px;
    border-width: 1px;
    box-shadow: none;
    //box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;

    } 

    .xfce4-panel .tasklist .toggle:checked,
    .xfce4-panel .tasklist .toggle:checked:hover,
    .xfce4-panel .tasklist .toggle:hover:active,
    .xfce4-panel .tasklist .toggle:checked {

    background-image: linear-gradient(to bottom, 
                    #596664 , 
                    #7a8481);
    
    border-radius: 3px;
    border-width: 1px;
    box-shadow: none;
    //box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: #404f4c;
    text-shadow: none;
    color:$panel_fg;
    }

   